<section class="page-header">
    <div class="page-header-bg"
        style="background-image: url(/client/images/resources/site-footer-img.jpg); background-size: cover;">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1 style="font-size: 50px; color: white;">
                Covid-19
            </h1>
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/">
                        <%= translation.asosiy_sahifa %>
                    </a></li>
                <li><span>/</span></li>
                <li>
                    Covid-19
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="pricing-page">
    <div class="container">
       
        <div class="row">


            <div class="col-xl-4 col-lg-4">
                <div class="pricing-page__single">
                    <div class="pricing-page__single-inner">
                        <div class="pricing-page__shape-1">
                            <img src="/client/images/shapes/pricing-page-shape-1.png" alt="">
                        </div>
                        <div class="pricing-page__icon">
                            <span class="icon-city-hall"></span>
                        </div>
                        <div class="pricing-page__pricing-box">
                            <h4>
                                <%= translation.covid_A1 %>
                            </h4>
                            <p class="pricing-page__pricing-text mt-3">
                                <%= translation.covid_A2 %>
                            </p>
                        </div>
                        <div class="pricing-page__services">
                            <ul class="list-unstyled pricing-page__services-list">
                                <li>
                                    <div class="icon">
                                        <span class="icon-telephone"></span>
                                    </div>
                                    <div class="text">
                                        <p>+998672266293</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="pricing-page__single">
                    <div class="pricing-page__single-inner">
                        <div class="pricing-page__shape-1">
                            <img src="/client/images/shapes/pricing-page-shape-1.png" alt="">
                        </div>
                        <div class="pricing-page__icon">
                            <span class="icon-city-hall"></span>
                        </div>
                        <div class="pricing-page__pricing-box">
                            <h4>
                                <%= translation.covid_B1 %>
                            </h4>
                            <p class="pricing-page__pricing-text mt-3">
                                <%= translation.covid_B2 %>
                            </p>
                        </div>
                        <div class="pricing-page__services">
                            <ul class="list-unstyled pricing-page__services-list">
                                <li>
                                    <div class="icon">
                                        <span class="icon-telephone"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            +998677692272
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="pricing-page__single">
                    <div class="pricing-page__single-inner">
                        <div class="pricing-page__shape-1">
                            <img src="/client/images/shapes/pricing-page-shape-1.png" alt="">
                        </div>
                        <div class="pricing-page__icon">
                            <span class="icon-city-hall"></span>
                        </div>
                        <div class="pricing-page__pricing-box">
                            <h4>
                                <%= translation.covid_C1 %>
                            </h4>
                            <p class="pricing-page__pricing-text mt-3">
                                <%= translation.covid_C2 %>
                            </p>
                        </div>
                        <div class="pricing-page__services">
                            <ul class="list-unstyled pricing-page__services-list">
                                <li>
                                    <div class="icon">
                                        <span class="icon-telephone"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            +998673772102
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="pricing-page__single">
                    <div class="pricing-page__single-inner">
                        <div class="pricing-page__shape-1">
                            <img src="/client/images/shapes/pricing-page-shape-1.png" alt="">
                        </div>
                        <div class="pricing-page__icon">
                            <span class="icon-city-hall"></span>
                        </div>
                        <div class="pricing-page__pricing-box">
                            <h4>
                                <%= translation.covid_D1 %>
                            </h4>
                            <p class="pricing-page__pricing-text mt-3">
                                <%= translation.covid_D2 %>
                            </p>
                        </div>
                        <div class="pricing-page__services">
                            <ul class="list-unstyled pricing-page__services-list">
                                <li>
                                    <div class="icon">
                                        <span class="icon-telephone"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            +998672264893
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>