<!-- Slider -->
<section class="main-slider">
    <div class="main-slider__carousel owl-carousel owl-theme thm-owl__carousel"
        data-owl-options='{"loop": true, "items": 1, "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"], "margin": 0, "dots": true, "nav": true, "animateOut": "slideOutDown", "animateIn": "fadeIn", "active": true, "smartSpeed": 1000, "autoplay": true, "autoplayTimeout": 7000, "autoplayHoverPause": false}'>

        <div class="item main-slider__slide-1">
            <div class="main-slider__bg" style="background-image: url(/slider-1.jpg);">
            </div>
            <div class="main-slider__shape-1">
                <img src="/client/images/shapes/main-slider-shape-1.png" alt="">
            </div>
            <div class="main-slider__shape-2">
                <img src="/client/images/shapes/main-slider-shape-2.png" alt="">
            </div>
            <div class="main-slider__shape-3">
                <img src="/client/images/shapes/main-slider-shape-3.png" alt="">
            </div>
            <div class="container">
                <div class="main-slider__content">
                    <h6 class=" main-slider__title">
                        <%= translation.slider %>
                    </h6>
                </div>
            </div>
        </div>

        <div class="item main-slider__slide-2">
            <div class="main-slider__bg" style="background-image: url(/slider-2.jpg);">
            </div><!-- /.slider-one__bg -->
            <div class="main-slider__shape-1">
                <img src="/client/images/shapes/main-slider-shape-1.png" alt="">
            </div>
            <div class="main-slider__shape-2">
                <img src="/client/images/shapes/main-slider-shape-2.png" alt="">
            </div>
            <div class="main-slider__shape-3">
                <img src="/client/images/shapes/main-slider-shape-3.png" alt="">
            </div>
            <div class="container">
                <div class="main-slider__content">
                    <h6 class=" main-slider__title">
                        <%= translation.slider %>
                    </h6>
                </div>
            </div>
        </div>



        <div class="item main-slider__slide-3">
            <div class="main-slider__bg" style="background-image: url(/slider-3.jpg);">
            </div><!-- /.slider-one__bg -->
            <div class="main-slider__shape-1">
                <img src="/client/images/shapes/main-slider-shape-1.png" alt="">
            </div>
            <div class="main-slider__shape-2">
                <img src="/client/images/shapes/main-slider-shape-2.png" alt="">
            </div>
            <div class="main-slider__shape-3">
                <img src="/client/images/shapes/main-slider-shape-3.png" alt="">
            </div>
            <div class="container">
                <div class="main-slider__content">
                    <h6 class=" main-slider__title">
                        <%= translation.slider %>
                    </h6>
                </div>
            </div>
        </div>



    </div>
</section>

<!-- Fotolavhalar -->
<section class="portfolio-one">
    <div class="portfolio-one__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <h2 class="section-title__title">
                        <%= translation.songi_fotolavhalar %>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-one__bottom">
        <div class="container">
            <div class="portfolio-one__carousel thm-owl__carousel owl-theme owl-carousel galeries" data-owl-options='{
                "items": 4,
                "margin": 50,
                "smartSpeed": 700,
                "loop":true,
                "autoplay": false,
                "nav":false,
                "dots":false,
                "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                "responsive":{
                    "0":{ "items":1  },
                    "768":{ "items":2  },
                    "992":{ "items": 3 },
                    "1200":{ "items": 4 }
                }
            }'>



            </div>
        </div>
    </div>
</section>

<!-- Videolavhalar -->
<section class="portfolio-one">
    <div class="portfolio-one__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <h2 class="section-title__title">
                        <%= translation.songi_videolavhalar %>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-one__bottom">
        <div class="container">
            <div class="videoss portfolio-one__carousel thm-owl__carousel owl-theme owl-carousel" data-owl-options='{
                "items": 4,
                "margin": 50,
                "smartSpeed": 700,
                "loop":false,
                "autoplay": false,
                "nav":false,
                "dots":false,
                "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                "responsive":{
                    "0":{ "items":1  },
                    "768":{ "items":2  },
                    "992":{ "items": 3 },
                    "1200":{ "items": 4 }
                }
            }'>
            </div>
        </div>
    </div>
</section>
<!-- Yangiklar -->
<section class="news-one">
    <div class="container">
        <div class="portfolio-one__top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <h2 class="section-title__title mb-5">
                            <%= translation.songi_yangiliklar %>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row news">
        </div>
    </div>
</section>


<!-- Logo -->

<section class="testimonial-one">
    <div class="testimonial-one__bg"
        style="background-image: url(/client/images/backgrounds/testimonial-one-bg-dark.jpg);"></div>
    <div class="container">
        <div class="testimonial-one__bottom">
            <div class="testimonial-one__carousel thm-owl__carousel owl-theme owl-carousel" data-owl-options='{
                "items": 3,
                "margin": 30,
                "smartSpeed": 700,
                "loop":true,
                "autoplay": false,
                "nav":false,
                "dots":false,
                "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                "responsive":{
                    "0":{
                        "items":1
                    },
                    "768":{
                        "items":2
                    },
                    "992":{
                        "items": 2
                    }
                }
            }'>
                <div class="item">
                    <div class="testimonial-one__single">
                        <div class="testimonial-one__single-inner">
                            <div class="testimonial-one__shape-1">
                                <img src="/client/images/shapes/testimonial-one-shape-1.png" alt="">
                            </div>
                            <div class="testimonial-one__shape-2">
                                <img src="/client/images/shapes/testimonial-one-shape-2.png" alt="">
                            </div>

                            <div class="testimonial-one__client-info">
                                <div class="testimonial-one__client-img-box">
                                    <div class="testimonial-one__client-img">
                                        <img src="/client/adliya.png" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-one__client-content">
                                    <h3 class="testimonial-one__client-name">
                                        <%= translation.media_1 %>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-one__single">
                        <div class="testimonial-one__single-inner">
                            <div class="testimonial-one__shape-1">
                                <img src="/client/images/shapes/testimonial-one-shape-1.png" alt="">
                            </div>
                            <div class="testimonial-one__shape-2">
                                <img src="/client/images/shapes/testimonial-one-shape-2.png" alt="">
                            </div>

                            <div class="testimonial-one__client-info">
                                <div class="testimonial-one__client-img-box">
                                    <div class="testimonial-one__client-img">
                                        <img src="/client/gerb.png" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-one__client-content">
                                    <h3 class="testimonial-one__client-name">
                                        <%= translation.media_1 %>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-one__single">
                        <div class="testimonial-one__single-inner">
                            <div class="testimonial-one__shape-1">
                                <img src="/client/images/shapes/testimonial-one-shape-1.png" alt="">
                            </div>
                            <div class="testimonial-one__shape-2">
                                <img src="/client/images/shapes/testimonial-one-shape-2.png" alt="">
                            </div>

                            <div class="testimonial-one__client-info">
                                <div class="testimonial-one__client-img-box">
                                    <div class="testimonial-one__client-img">
                                        <img src="/client/myGov.png" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-one__client-content">
                                    <h3 class="testimonial-one__client-name">
                                        <%= translation.media_2 %>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/axios.min.js"></script>
<script src="/jquery.min.js"></script>
<script>



    const lang = window.localStorage.getItem("language");
    const notFound = `<h1>${lang == "ru" ? "Никакой информации не найдено" : "Hech qanday ma'lumot topilmadi"}</h1>`


    const getData = () => {
        axios.get("/api/client/index").then(async (res) => {
            const GALERY = res.data.data.latest_five_galeries
            const NEWS = res.data.data.news
            const VIDEOS = res.data.data.video

            // Fotolavhalar
            const galeries = $(".galeries")
            await galeries.html("")
            if (GALERY == []) {
                galeries.append(notFound)
            }
            else {
                GALERY.forEach((item) => {
                    galeries.append(`
                        <div class="item">
                            <div class="portfolio-one__single mar-top">
                                <div class="portfolio-one__img-box">
                                    <div class="portfolio-one__img">
                                        <img src="/uploads/${item.image[0]}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    `)
                });
            }



            // Videolov
            const videos = $(".videoss")
            await videos.html("")
            if (VIDEOS == []) {
                galeries.append(notFound)
            }
            else {
                VIDEOS.forEach((item) => {
                    videos.append(`
                    <div class="item">
                        <div class="portfolio-one__single mar-top">
                            <div class="portfolio-one__img-box">
                                <div class="portfolio-one__img">
                                    <img src="/client/images/services/1.jpg" alt="">
                                </div>
                                <div class="portfolio-one__content"
                                    style=" width: 100%; height: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                    <a href="${item.url}" target="_blank"
                                        style="width: 50%; height: 50%; margin-top: 70px ; display: flex; flex-direction: row; align-items: center; justify-content: center;"
                                       >
                                        <div class="video-one__video-icon">
                                            <span class="fa fa-play"></span>
                                            <i class="ripple"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    `)
                });
            }
            // Videolov
            const news = $(".news")
            await news.html("")
            if (NEWS == []) {
                galeries.append(notFound)
            }
            else {
                NEWS.forEach((item) => {
                    news.append(`
                        <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                            <div class="news-one__single">
                                <div class="news-one__img-box">
                                    <div class="news-one__img">
                                        <img src="/uploads/${item.image[0]}" alt="">
                                    </div>
                                </div>
                                <div class="news-one__content">
                                    <h3 class="news-one__title"><a href="/news/details/${item._id}">${lang == "ru" ? String(item.title.ru).slice(0, 50) : String(item.title.uz).slice(0, 50)} ...</a>
                                    </h3>
                                    <div class="news-one__btn">
                                        <a href="/news/details/${item._id}"><%= translation.batafsil %><i class="icon-right-arrow"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `)
                });
            }
        })
    }
    getData()


</script>