<footer class="site-footer">

    <div class="container">
        
        <div class="site-footer__middle">
            <div class="row">
                <div class="col-xl-5 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__Contact">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title"><%= translation.manzil_1 %></h3>
                        </div>
                        <p class="footer-widget__Contact-text">
                            <%= translation.manzil_2 %>
                        </p> 
                        <p class="footer-widget__Contact-text">
                            <%= translation.moljal %>
                        </p>
                        <p class="footer-widget__Contact-text">
                            <%= translation.transport %>
                        </p>
                        <ul class="footer-widget__Contact-list list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="fas fa-phone-square"></span>
                                </div>
                                <div class="text">
                                    <p><a href="tel:+998672264926">+998-67-226-49-26</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__link">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title"><%= translation.ijtimoy_tarmoqlar %></h3>
                        </div>
                        <ul class="footer-widget__link-list list-unstyled">
                            <li><a href="/">Instagram</a></li>
                            <li><a href="/">Telegram</a></li>
                            <li><a href="/">Facebook</a></li>
                            <li><a href="/">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">
                            <%= translation.himoyalangan %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>