<section class="events-page mt-5">
    <div class="container mt-5">
        <div class="row">

            <div class="col-xl-4 col-lg-4">
                <div class="event-three__single">
                    <div class="event-three__content">
                        <div class="event-three__meta-and-title">
                            <h3 class="event-three__title">
                                <a href="https://lex.uz/uz/docs/-5851527">
                                    PQ 122
                                </a>
                            </h3>
                        </div>
                        <div class="event-three__btn-box">
                            <a href="https://lex.uz/uz/docs/-5851527" class="event-three__btn"><%= translation.batafsil  %><i
                                    class="icon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="event-three__single">
                    <div class="event-three__content">
                        <div class="event-three__meta-and-title">
                            <h3 class="event-three__title">
                                <a href="https://lex.uz/docs/-5090241">
                                    PQ 4887
                                </a>
                            </h3>
                        </div>
                        <div class="event-three__btn-box">
                            <a href="https://lex.uz/docs/-5090241" class="event-three__btn"><%= translation.batafsil  %><i class="icon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="event-three__single">
                    <div class="event-three__content">
                        <div class="event-three__meta-and-title">
                            <h3 class="event-three__title">
                                <a href="https://lex.uz/ru/docs/-5100677">
                                    PF 6110
                                </a>
                            </h3>
                        </div>
                        <div class="event-three__btn-box">
                            <a href="https://lex.uz/ru/docs/-5100677" class="event-three__btn"><%= translation.batafsil  %><i
                                    class="icon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="events-page">
    <div class="container ">
        <div class="row">

            <div class="col-xl-4 col-lg-4">
                <div class="event-three__single">
                    <div class="event-three__content">
                        <div class="event-three__meta-and-title">
                            <h3 class="event-three__title">
                                <a href="https://lex.uz/uz/docs/-5784917?ONDATE2=21.12.2021&action=compare">
                                    PF 35
                                </a>
                            </h3>
                        </div>
                        <div class="event-three__btn-box">
                            <a href="https://lex.uz/uz/docs/-5784917?ONDATE2=21.12.2021&action=compare" class="event-three__btn"><%= translation.batafsil  %><i
                                    class="icon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="event-three__single">
                    <div class="event-three__content">
                        <div class="event-three__meta-and-title">
                            <h3 class="event-three__title">
                                <a href="https://lex.uz/docs/-3523132">
                                    PQ 3493
                                </a>
                            </h3>
                        </div>
                        <div class="event-three__btn-box">
                            <a href="https://lex.uz/docs/-3523132" class="event-three__btn"><%= translation.batafsil  %><i class="icon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="event-three__single">
                    <div class="event-three__content">
                        <div class="event-three__meta-and-title">
                            <h3 class="event-three__title">
                                <a href="http://localhost:5000/document/president-laws">
                                    PF 6282
                                </a>
                            </h3>
                        </div>
                        <div class="event-three__btn-box">
                            <a href="http://localhost:5000/document/president-laws" class="event-three__btn"><%= translation.batafsil  %><i
                                    class="icon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="events-page ">
    <div class="container">
        <div class="row">

            <div class="col-xl-4 col-lg-4">
                <div class="event-three__single">
                    <div class="event-three__content">
                        <div class="event-three__meta-and-title">
                            <h3 class="event-three__title">
                                <a href="https://lex.uz/docs/-5459047">
                                    PF 5148
                                </a>
                            </h3>
                        </div>
                        <div class="event-three__btn-box">
                            <a href="https://lex.uz/docs/-5459047" class="event-three__btn"><%= translation.batafsil  %><i
                                    class="icon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>

           
           
        </div>
    </div>
</section>