<section class="events-page mt-5">
    <div class="container mt-5">
        <div class="row">


            <div class="col-xl-4 col-lg-4">
                <div class="event-three__single">
                    <div class="event-three__content">
                        <div class="event-three__meta-and-title">
                            <h3 class="event-three__title">
                                <a href="https://lex.uz/docs/2732584">
                                    <%= translation.uzb_law_1  %>
                                </a>
                            </h3>
                        </div>
                        <div class="event-three__btn-box">
                            <a href="https://lex.uz/docs/2732584" class="event-three__btn"><%= translation.batafsil  %><i
                                    class="icon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="event-three__single">
                    <div class="event-three__content">
                        <div class="event-three__meta-and-title">
                            <h3 class="event-three__title">
                                <a href="#">
                                    <%= translation.uzb_law_2  %>
                                </a>
                            </h3>
                        </div>
                        <div class="event-three__btn-box">
                            <a href="#" class="event-three__btn"><%= translation.batafsil  %><i
                                    class="icon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="event-three__single">
                    <div class="event-three__content">
                        <div class="event-three__meta-and-title">
                            <h3 class="event-three__title">
                                <a href="https://lex.uz/docs/12328">
                                   ...
                                </a>
                            </h3>
                        </div>
                        <div class="event-three__btn-box">
                            <a href="https://lex.uz/docs/12328" class="event-three__btn"><%= translation.batafsil  %><i
                                    class="icon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           

        </div>
    </div>
</section>

<section class="events-page">
    <div class="container">
        <div class="row">


            

            <div class="col-xl-4 col-lg-4">
                <div class="event-three__single">
                    <div class="event-three__content">
                        <div class="event-three__meta-and-title">
                            <h3 class="event-three__title">
                                <a href="https://lex.uz/docs/5388842">
                                   ...
                                </a>
                            </h3>
                        </div>
                        <div class="event-three__btn-box">
                            <a href="https://lex.uz/docs/5388842" class="event-three__btn"><%= translation.batafsil  %><i
                                    class="icon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           

        </div>
    </div>
</section>